.details{
    color: white;
    margin-top: 6vh;
    display: flex;
}



.left .container{
    padding-left: 2vw;
    padding-right: 2vw;
    width: 85%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-bottom: 0.938rem;
}

.container:hover{
    background: rgb(37,37,40);
    border-radius: 10px;
}

.heading{
    margin-top: 0.95rem;
    margin-bottom: 0.95rem;
    font-family: system-ui;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(233,233,234)
}

.content{
    line-height: 1.5rem;
    font-size: 0.85rem;
    font-weight: 600;
    font-family: system-ui;
    color: rgb(146,146,154)
}
.date{
    font-family: system-ui;
    font-weight: 400;
    padding-left: 0.313rem;
    color: rgb(68,68,74);
    font-size: 1rem;
}

.date::before{
    content: "|";
    margin-left: 0px;
    margin-right: 0.313rem;
    color: rgb(113,113,122);
}

.link{
    margin-top: 20px;
    color: rgb(20,184,166);
    font-size: 12px;
    font-weight: 200;
}

.first-container{
    border: 0.5px solid rgba(255, 255, 255, 0.116);
    padding: 1.5rem;
    border-radius: 15px;
}

.first-container-parent{
    display: flex;
}

.detail-img{
     margin: 0;
     padding: 0;
}

.first-container-heading{
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 14px;
}

.first-container-second-section .first-container-input{
    width: 20vw;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: box-shadow 0.3s ease;
    background: none; 
    color: white;
    border: 0.1px solid rgba(255, 255, 255, 0.123);
}

.first-container-second-section .first-container-input:focus{   
    outline: 1px solid aqua;
    box-shadow: 0 0 10px aqua;
}


.first-container-second-section{
    margin-top: 1.5rem;
    display: flex;
    
}




.right{
    padding-right: 4vw;
    margin-left: 4vw;
}

.first-container-content{
    margin-top: 5px;
}

.first-container-second-section button{
    text-decoration: none;
    background-color: rgb(63 63 70);
    margin-left: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 5px ;
    color: white;
    font-weight: bold;
    border: 0.5px solid rgba(255, 255, 255, 0);
}

.first-container-second-section button:hover{
    background-color: rgba(95, 95, 105, 0.445);
}

.second-container{
    margin-top: 2.5rem;
    border: 0.5px solid rgba(255, 255, 255, 0.116);
    padding: 1.5rem;
    border-radius: 15px;
}

.experience-container{
    margin-top: 15px;
}

.second-container-img{
    display: flex;
    align-items: center
}


.second-container-img img{
    margin:0;
    padding: 0;
    margin-bottom: 5px;;
}

.second-container-img p{
    color: rgb(233,233,234);
    margin-left: 10px;
}

.experience-container img{
    width: 28px;
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:rgb(37,37,40);
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.233);
}

.experience-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.img-parent-container{
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.img-parent-container .exp-heading p{
    margin-left: 15px;
    margin:0;
    padding: 0;
}

.img-right-container{
    display: block;
    width:100%;
    margin-left: 15px;
}

.designation{
    display: flex;
    justify-content: space-between;
    
}

.exp-heading{
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(233,233,234);
}

.work-profile{
    font-size: 12px;
    color: rgb(146,146,154);
}

.duration{
    font-size: 12px;
    color: rgb(146,146,154);
}

.right-second-container-button button{
    width: 100%;
    background: #202022;
    text-decoration: none;
    margin-top: 0;
    margin-top:15px;
    height:40px;
    border-radius: 5px;
    color:rgb(233,233,234);
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.right-second-container-button button:hover{
    background: #67676d41;
}


@media screen and (max-width:1024px) {
    .details{
      display:block;
      margin-bottom: 2vh;
    }
    .first-container-second-section .first-container-input{
        width:100%;
    }
    .right{
        margin-left: 2vw;
        margin-right: 0;
        padding-right: 0;
    }
    .left{
        padding-right: 0;
        margin-right: 0;
    }

    .left .container{
        width:97%
    }
    
  }
  