.main-div{
    margin:0 2vw;
    display: block;
}
.main-div .avatar{
    margin-left: 0px;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.main-div .main-p{
    font-family: system-ui;
    font-weight: 700;
    color: rgb(244,244,245);
    font-size: 3rem;
    line-height: 3.438rem;
}

.child-p{
    font-size: 0.99rem;
    margin-top: 1.5rem;
    color: rgb(161,161,170);
    line-height: 1.75rem;
}

.logo .hero-img{
    margin: 32px;
    margin-left: 0;
    margin-top: 28px;
}


@media screen and (max-width: 992px) {
   .child-p br{
    display:none;
   }
   .main-p br{
    display:none;
   }

  }

@media screen and (max-width: 576px) {
    .main-div .main-p{
        line-height:2rem;
        font-size:1.8rem;
    }

    .main-div .main-p br{
        display: none;
    }
}