.navbar-main{
  display: flex;
  justify-content: space-between;
}

.navbar-main ul{
    margin: 1.375rem;
    margin-left: 28vw;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.563rem;
    /* border: 1px solid white; */
    font-size: 0.75rem;
    border-radius: 25px;
    height: 1.25rem;
    padding: 0.625rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    background-color:rgb(37,37,40);
    border: 0.2px solid rgba(255, 255, 255, 0.082);
    
}

.navbar-main ul li{
    color:#e1e1e4;
    list-style: none;
    font-weight: bolder;
}

.navbar-main ul li:hover{
    color: #16ab9b;
}

img{
    margin: 32px;
    margin-right: 60px;
}